<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Book Id:</strong>
    <%= book.book_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= book.address %>
  </p>

  <p>
    <strong>Price paid:</strong>
    <%= book.price_paid %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= book.email %>
  </p>
   
  <p>
  <strong>Phone:</strong>
  <%=book.phone %> 


</div>
