<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name ,required: true%>
  </div>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id ,required: true%>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :price_paid, style: "display: block" %>
    <%= form.text_field :price_paid ,required: true%>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

   <div>
   <%= form.label :phone, style: "display:block" %>
   <%= form.text_field :phone %>
   </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
